@font-face {
    font-family: "inter-bold";
    src: url(../assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "merri-light";
    src: url(../assets/fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri-light, serif;
$black1: rgb(17,17,17);
$white1: rgb(243, 243, 243);
$grey1: rgb(209,209,209);
$grey2: rgb(233,233,233);
$grey3: rgb(105,105,105);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a, a:visited {
    color: $white1;
}
body {
    background: url(../../public/assets/img/bg.jpg) fixed center/cover;
    font-family: $font2;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background: $black1;
        -webkit-animation: animBefore 1.5s ease forwards;
        animation: animBefore 1.5s ease forwards;
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }

    @-webkit-keyframes animBefore {
        to {
            opacity: 0;
        }
    }

    @keyframes animBefore {
        to {
            opacity: 0;
        }
    }
}

